.div {
  font-size: 15px;
  margin: 8px 0;
  font-family: Georgia, serif;
  display: grid;
  grid-template-columns: max-content auto;
  gap: 8px;
  align-items: center;
  color: #545959;
}

@media (prefers-color-scheme: dark) {
  .div {
    color: #b0b4b5;
  }
}
