/* keep these in sync */
.navHeight {
  height: 50px;
}
.navMargin {
  margin-top: 50px;
}

.nav {
  composes: navHeight;

  position: fixed;
  top: 40px;
  left: 0;
  right: 0;
  margin: 0 auto;
  font-size: 14px;
  letter-spacing: 1px;
  display: flex;
  top: 0;
  background: #fffd;
  backdrop-filter: blur(10px);
  z-index: 100;
}

.nav ul {
  padding: 0;
  margin: 0 auto;
  justify-content: center;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav li + li {
  margin-left: 16px;
}

@media (prefers-color-scheme: dark) {
  .nav {
    background: #0003;
  }
}
