.container {
  max-width: 768px;
  display: grid;
  gap: 16px;
  padding: 16px;
}

@media (min-width: 768px) {
  .container {
    margin: 100px auto;
  }
}

.blogCard p {
  font-family: Georgia, serif;
}

.postContent :global .twitter-tweet {
  margin: 64px auto !important;
}

.postContent blockquote {
  font-family: "Gloria Hallelujah";
  border-left: 4px solid #ddd;
  padding-left: 32px;
  margin: 32px 0;
  font-style: italic;
  color: #914200;
}

@media (prefers-color-scheme: dark) {
  .postContent blockquote {
    color: #ffa861;
  }
}
