.container {
  width: 100vw;
  min-height: 100vh;
  overflow: auto;
}

.container img {
  width: 100%;
  max-width: 400px;
  height: auto;
}

.container .intro {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionContainer {
  display: grid;
  margin: 0 auto;
  width: 100vw;
  max-width: 768px;
  align-items: flex-start;
}

.section {
  display: grid;
  grid-template-rows: min-content auto;
  padding: 1rem;
  gap: 0.5rem;
}

.blogList {
  display: grid;
  gap: 16px;
}

.mostRecentTalkContainer {
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 6px 8px #0001;
}

@media (min-width: 768px) {
  .blogList {
    grid-template-columns: repeat(2, 1fr);
  }
}
